<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>世界城市</title>
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/bootstrap-table.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/dist//css/bootstrap-dialog.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/blog.css}">
  <script type="text/javascript" th:src="@{/dist/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/dist/js/bootstrap.min.js}" ></script>
  <script type="text/javascript" th:src="@{/dist/js/bootstrap-dialog.min.js}" ></script>
  <script type="text/javascript" th:src="@{/dist/js/dialog.min.js}" ></script>
  <script type="text/javascript" th:src="@{/dist/js/bootstrap-table.min.js}"></script>
  <script type="text/javascript" th:src="@{/dist/js/bootstrap-table-zh-CN.js}"></script>
  <script type="text/javascript" th:src="@{/dist/js/bootstrap-table-export.js}"></script>
  <script type="text/javascript" th:src="@{/dist/js/tableExport.min.js}"></script>
  <script type="text/javascript" th:src="@{/dist/js/bootstrapValidator.js}" ></script>
  <script type="text/javascript" th:src="@{/js/base.js}"></script>
  <style>
    .bootstrap-table {
      font-family: Arial;
    }
    h1,h2,h3 {
      margin: 10px auto;
    }
    .table-striped > tbody > tr:nth-child(2n+1) > td,
    .table-striped > tbody > tr:nth-child(2n+1) > th {
      background-color: #5bc0de;
    }
    #search-panel {
      margin: 0 auto;
    }
  </style>
</head>
<body>
<!-- top -->
<!--引入模板-->
<div th:replace="bar::#topbar (activeUrl=city)"></div>
<!-- top -->

<div class="container">
  <h1>世界城市</h1>
  <div id="search-panel" class="panel panel-default">
    <div class="panel-heading">
      查询条件
    </div>
    <input class="form-control" id="findall" type="text" style="width:250px;display:inline-block" placeholder="编号、名称、编码、地区查询" />
    <button id="search_btn" class="btn btn-primary" >搜索</button>
  </div>
  <table class="table-responsive" id="world_city">
  </table>
</div>

<script type="text/javascript" th:src="@{/js/city.js}"></script>
</body>
</html>